.navbar-lewagon {
  justify-content: space-between;
  background: white;
  top: -20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  text-size-adjust: 60px;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  border-radius: 50%;
}
